$primary-color: #51BAD1;

body {
    margin: 0;
}

h1{
    text-align: center;
}
h3{
    color:gray;
    text-align: center;
    border-bottom:solid 1px gray;
    padding-bottom: 20px;
}
a {
    color:black;
    text-decoration: none;
}